<% layout("layouts/boilerplate") %>
<h1>Login</h1>
<form action="/login" class="validated-form" method="POST" novalidate>
  <div class="mb-3">
    <label class="form-label" for="username">Username: </label>
    <input
      class="form-control"
      required
      type="text"
      name="username"
      id="username"
    />
    <div class="valid-feedback">Looks Good!</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="password">Password: </label>
    <input
      class="form-control"
      required
      type="password"
      name="password"
      id="password"
    />
    <div class="valid-feedback">Looks Good!</div>
  </div>
  <button class="btn btn-success" type="submit">Login</button>
</form>
